<button id="login_btn"  ng-click="popup.showLogin()">Login</button>

<div  class="overlay" ng-show="popup.overlay"  ng-click="popup.closeLogin()" >
				
	<div  id="Login_popup" ng-click="$event.stopPropagation()" >

		<div class="style">Вход
		
			<button id="close_btn" ng-click="popup.closeLogin()"></button>
			
		</div>
		
		<div  id="icon_menu" class="style">
		<div class="login_person_link"></div>
		<div class="password_reset_link"></div>
		</div>

		<login-form></login-form>
		
	</div>

</div>