<button id="login_btn"  ng-click="self.showLogin()">Login</button>
<p>{{self.some}}</p>
<div  id="overlay" class="overlay" ng-show="self.overlay"  ng-click="self.closeLogin()" >
				
	<div  id="Login_popup" ng-click="$event.stopPropagation()" >

		<div class="style">{{self.title}}
		
			<button id="close_btn" ng-click="self.closeLogin()"></button>
			
		</div>
		<div  id="icon_menu" class="style">
		<div  ng-repeat = "tab in tabs"  ng-class="{login_person_link: $first,password_reset_link: $last}" ng-click="onClickTab(tab)" >
			
		</div>
		</div>
		<div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
	</div>

</div>